@model IEnumerable<Product>

@foreach (var product in Model)
{
    <button class="productContainer productrow d-flex align-items-center  rounded no-border
                    justify-content-around flex-column text-black  col-10 text-white col-lg-5"
                    style="background-image:url('@Url.Content($"~/img/{product.Photo}")') ;height: 200px"
                    id="@product.Id" 
                    onclick="getSelectProduct(@product.Id)">

            <h2>@product.Name</h2>
            <h4>@product.Description</h4>
    </button>
}

