@model IEnumerable<Aklat.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-danger">All Orders</h1>

<table class="table text-center table-hover table-bordered table-dark">
    <thead>
    <tr>
        <th>ID</th>
            <th>Count</th>
            <th>Date</th> 
            <th>OrderNote</th>
        <th>UserName</th>
        <th>Action</th>
    </tr>
    </thead
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.ID</td>
                <td> @item.Count</td>
                <td> @item.Date</td>
                <td> @item.OrderNote</td>
                <td> @item.User.Name</td>
                <td>
                    <a asp-action="">Edite</a>
                </td>
            </tr>
        }
    </tbody>
</table>
